<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LeechSvc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>

  <applicationSettings>
    <LeechSvc.Properties.Settings>
      <setting name="StartSessionMskTime" serializeAs="String">
        <value>10:00:00</value>
      </setting>
      <setting name="EndSessionMskTime" serializeAs="String">
        <value>18:45:00</value>
      </setting>
      <setting name="CorrectHours" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SecBoard" serializeAs="String">
        <value>TQBR</value>
      </setting>
      <setting name="DbPath" serializeAs="String">
        <value>db</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>logs</value>
      </setting>
      <setting name="BotsConfigPath" serializeAs="String">
        <value>BotsConfig.xml</value>
      </setting>
      <setting name="BotsPath" serializeAs="String">
        <value>bots</value>
      </setting>
      <setting name="OpenSessionLocalTime" serializeAs="String">
        <value>10:55:00</value>
      </setting>
      <setting name="OpenTerminalLocalTime" serializeAs="String">
        <value>10:56:00</value>
      </setting>
      <setting name="ConnectLocalTime" serializeAs="String">
        <value>10:57:00</value>
      </setting>
      <setting name="DisconnectLocalTime" serializeAs="String">
        <value>19:48:00</value>
      </setting>
      <setting name="CloseTerminalLocalTime" serializeAs="String">
        <value>19:49:00</value>
      </setting>
      <setting name="CloseSessionLocalTime" serializeAs="String">
        <value>19:50:00</value>
      </setting>
    </LeechSvc.Properties.Settings>
  </applicationSettings>
</configuration>